@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueCyr-Medium.woff') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueCyr-Bold.woff') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/fonts/HelveticaNeueCyr-Light.woff') format('truetype');
  font-weight: 300;
}
